{% load bootstrap4 %}
<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1,shrink-to-fit=no">
        <title>top10手机舆情展示 - 什么张大妈</title>
        {% bootstrap_css %}
        {% bootstrap_javascript jquery='full' %}
    </head>
    <body>
        <nav class="navbar navbar-expand-md navbar-light bg-light mb-4 border">
            <a class="navbar-brand" href="#">舆情展示</a>
        </nav>
        <main role="main" class="container">
            <div class="pb-2 mb-2 border-bottom">{% block page_header %}{% endblock page_header %}</div>
            <div>{% block content %}{% endblock content %}</div>
        </main>
    </body>
</html>