{% extends "base.html" %}
{% load static %}
{% block page_header %}
<h1>Top10手机舆情一览</h1>
{% endblock page_header %}

{% block content %}
<div class="panel panel-default">
    <div class="panel-heading">
        <i class="fa fa-bar-chart-o fa-fw"></i> Donut Chart Example
    </div>
    <div class="panel-body">
        <div id="morris-donut-chart" lg05={{ plus }} lt05={{ minus }}></div>
        <a href="#" class="btn btn-default btn-block">View Details</a>
    </div>
</div>
<table class="table">
    <thead>
      <tr>
        <th scope="col">Rank</th>
        <th scope="col">Title</th>
        <th scope="col">评价数</th>
        <th scope="col">正面评价数</th>
        <th scope="col">负面评价数</th>
        <th scope="col">平均情绪分</th>
      </tr>
    </thead>
    <tbody>
        {% for info in top10_info %}
        <tr>
        {% for i in info %}
        <td>{{ i }}</td>
        {% endfor %}
        </tr>
        {% endfor %}
    </tbody>
  </table>
{% endblock content %}


{% block js %}
    {{ block.super }}
    <script src="{% static 'js/raphael-min.js' %}"></script>
    <script src="{% static 'js/morris.min.js' %}"></script>
    <script src="{% static 'js/morris-data.js' %}"></script>
{% endblock js %}